


.container {
  margin-left: auto;
  margin-right: auto;
}

.text-background-gradient {
  display: inline-block;
  background: -webkit-linear-gradient( 120deg, #51C0C8, #276781 );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-mask {
  background: #F8E000;
  mask-image: url("/jsLogo.svg");
  mask-position: center 25%;
  mask-repeat: no-repeat;
  mask-size: clamp(5000vh, 3500%, 0vh);
  -webkit-mask-image: url("/jsLogo.svg");
  -webkit-mask-position: center 25%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: clamp(5000vh, 3500%, 0vh);
}

.logo-mask2 {
  background: #276781;
  mask-image: url("/doLogo.svg");
  mask-position: center 25%;
  mask-repeat: no-repeat;
  mask-size: clamp(5000vh, 3500%, 0vh);
  -webkit-mask-image: url("/doLogo.svg");
  -webkit-mask-position: center 25%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: clamp(5000vh, 3500%, 0vh);
}